* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #191919;
}

section {
    padding: 0 70px;
}

header {
    padding: 43px 70px;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

button {
    transition: 0.5s;
    cursor: pointer;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container svg {
    /*margin: 17px 70px;*/
}

.header-container .burger-menu {
    display: none;
}

.header-container ul {
    display: flex;
    gap: 40px;
    list-style: none;
    /*margin: 20px 70px;*/
}

.header-container a{
    transition: 0.5s;
    scroll-behavior: smooth;
}

.navbar li {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
}

section{
    position: relative;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 43px;
}

.main-container .main-image {
    border-radius: 12px;
    max-width: 650px;
    width: 100%;
    height: 873px;
    object-fit: cover;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 75px;
}

.next {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
    color: #fff;
}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.music-venues-wrapper {
    padding: 0 22px;
}

.music-venues-wrapper .music-venues {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

.main-content ul,
.last-nav-block ul{
    margin-top: 16px;
    display: flex;
    gap: 17px;
    list-style: none;
}

.music-venues-list li {
    transition: 0.3s;
}

.music-venues-list li:hover,
.last-nav-block a:hover {
    transform:translateY(-5px);
}

.episodes-header {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 60px;
}

.image-label {
    max-width: 389px;
    height: 432px;
    object-fit: cover;
}

.episodes-header h2{
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;
}

.episodes-header button {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    border-radius: 6px;
    width: 178px;
    height: 51px;
    background: #118da8;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card-item {
    background: #000;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    min-height: 512px;
}

.card-content {
    margin: 40px 40px 53px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-content img {
    margin-bottom: 48px;
}

.episode {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
    margin-bottom: 17px;
}

h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 28px;
}

.description-label {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

.card-content button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border-radius: 6px;
    width: 208px;
    height: 51px;
    background: #118da8;
}

.thirty-container {
    margin: 100px 0
}

.thirty-wrapper {
    display: flex;
    gap: 60px;
}


.thirty-wrapper .left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    padding-right: 34px;
}

.thirty-wrapper a{
    width: 112px;
    height: 112px;
    margin-bottom: 20px;
    transition: 1s;
}

.thirty-wrapper span{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
    margin-bottom: 25px;
}

.thirty-wrapper h2 {
    font-weight: 400;
    font-size: 65px;
    line-height: 1.21846;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 28px;
}

.thirty-wrapper p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.thirty-wrapper .first-paragraph {
    margin-bottom: 33px;
}

.thirty-wrapper .main-image {
    border-radius: 12px;
    max-width: 650px;
    height: 743px;
    object-fit: cover;
}

.form-container {
    margin: 100px 0;
}

.form-wrapper {
    border-radius: 32px;
    background: #000;
    padding: 60px;
    display: flex;
    gap: 76px;
    justify-content: space-between;
}

.form-wrapper span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
    margin-bottom: 26px;
}

.form-wrapper h2 {
    font-weight: 400;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-wrapper form input {
    border: 1px solid #191919;
    border-radius: 6px;
    min-width: 522px;
    width: 100%;
    height: 82px;
    background: #191919;
    transition: 0.5s;
}

.form-wrapper form input::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding: 26px 19px;
}

.form-wrapper form button {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    width: 87px;
    height: 48px;
    background: #118da8;
}

.review-wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.review-block {
    border-radius: 32px;
    max-width: 423px;
    width: 100%;
    background: #000;
    padding: 54px 50px 51px;
}

.review-block img {
    margin-bottom: 21px;
}

.review-block h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 19px;
}

.review-block span {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
}

.footer-container {
    padding: 100px 70px;
}

.footer-wrapper {
    display: flex;
    gap: 16px;
}

.footer-wrapper .left-block {
    min-width: 447px;
}

.footer-wrapper .left-block .castaway img{
    margin-bottom: 20px;
}

.footer-wrapper .left-block .castaway-links img{
    margin-right: 10px;
    transition: 0.5s;
}

.footer-wrapper li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-wrapper li a {
    transition: 0.5s;
}

.footer-wrapper .nav-block {
    min-width: 179px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
}

.footer-wrapper .second-nav-block {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
}

a:hover {
    color: #118da8;
}

button:hover,
form button:hover {
    background: transparent;
    border: 2px solid #118da8;;
}

.thirty-wrapper a:hover {
    transform: rotate(90deg);
}

.form-wrapper form input:focus {
    border: 1px solid #454444;
    outline: none;
}

.footer-wrapper .castaway-links img:hover {
    transform: translateY(-5px);
}

.main-container::before {
    content: "";
    display: inline-block;
    width: 68px;
    height: 74px;
    background-image: url("assets/psevdo1.png");
    background-size: cover;
    position: absolute;
    top: -14px;
    left: 44px;
}

.next::before {
    content: "";
    display: inline-block;
    width: 160px;
    height: 104px;
    background-image: url("assets/psevdo2.png");
    background-size: cover;
    position: absolute;
}

.description::before {
    content: "";
    display: inline-block;
    width: 147px;
    height: 91px;
    background-image: url("assets/psevdo3.png");
    background-size: cover;
    position: absolute;
    left: 32px;
    bottom: -26px;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 26px 0;
    }

    .header-container {
        padding: 0 20px;
    }

    section {
        padding: 60px 20px;
    }

    .header-container .navbar {
        display: none;
    }
    .header-container .burger-menu {
        display: block;
        width: 48px;
        height: 48px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }

    .main-container::before{
        top: 35px;
        left: 33px;
    }

    .episodes-header h2 {
        margin-bottom: 20px;
    }

    .episodes-container .episodes-header{
        flex-direction: column;
    }

    .episodes-container .card-item {
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: center;
        padding: 40px 40px 0 40px;
    }

    .episodes-container .card-item .image-label{
        max-width: 648px;
        width: 100%;
    }

    .episodes-container .card-content{
        margin: 40px 0;
    }

    .thirty-wrapper {
        flex-direction: column-reverse;
    }

    .thirty-container {
        padding: 0 60px;
    }

    .form-container {
        margin: 40px 0;
    }

    .form-wrapper {
        flex-direction: column;
    }

    .description::before {
        transform: scaleX(-1);
        left: auto;
        right: 18px;
        bottom: 34px;
    }

    .review-wrapper .review-block {
        max-width: 356px;
        width: 100%;
    }

    .footer-wrapper {
      flex-wrap: wrap;
    }

    .footer-wrapper .left-block {
        margin-bottom: 129px;
    }

    .footer-wrapper .left-block .castaway{
        flex-grow: 1;
    }


}