* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #191919;
}

.header-container {
    margin: 26px 0;
    display: flex;
    justify-content: space-between;
}

.header-container svg {
    margin: 17px 70px;
}

.header-container ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 20px 70px;
}

.header-container ul a{
    text-decoration: none;
    color: #fff;
}

.navbar li {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
}

.main-container {
    display: flex;
    margin: 40px 70px 43px;
}

.main-image {
    border-radius: 12px;
    width: 650px;
    height: 873px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-title {
    margin: 314px 134px 90px 60px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;
}

.next {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
    color: #fff;
}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.music-venues {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    margin: 90px 82px 16px;
}

.main-content ul {
    display: flex;
    gap: 17px;
    list-style: none;
    margin: 16px 82px;
}

.episodes-container {
    padding: 0 70px;
}

.episodes-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.image-label {
    max-width: 389px;
    width: 100%;
    height: 432px;
}

.episodes-header h1{
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;
}

.episodes-header button {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    border-radius: 6px;
    width: 178px;
    height: 51px;
    background: #118da8;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card-item {
    background: #000;
    border-radius: 10px;
    padding: 40px;
    display: flex;
}

.card-content {
    margin: 40px 40px 53px;
    display: flex;
    flex-direction: column;
}

.card-content img {
    max-width: 73px;
    width: 100%;
    height: 27px;
    margin-bottom: 48px;
}

.episode {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
    margin-bottom: 17px;
}

h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 28px;
}

.description-label {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

.card-content button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border-radius: 6px;
    width: 208px;
    height: 51px;
    background: #118da8;
}

.thirty-cotainer {
    margin: 100px 70px;
}

.thirty-wrapper {
    display: flex;
}

.thirty-wrapper .left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    padding-right: 34px;
}

.thirty-wrapper a{
    width: 112px;
    height: 112px;
    margin-bottom: 20px;
}

.thirty-wrapper span{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
    margin-bottom: 25px;
}

.thirty-wrapper h2 {
    font-weight: 400;
    font-size: 65px;
    line-height: 1.21846;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 28px;
}

.thirty-wrapper p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.thirty-wrapper .first-paragraph {
    margin-bottom: 33px;
}

.thirty-wrapper .main-image {
    border-radius: 12px;
    width: 650px;
    height: 743px;
}